.ldt-container {
  position: relative;
  flex: auto;
  border-left: 1px solid #ccc;
  height: 100%;
  overflow: auto;
}

.base-component {
  background-color: lightblue;
  height: 100%;
  width: 100%;
}

.overlay-component {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay-component--companion {
  display: flex;
}

.plugin-container {
  height: 100%;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  width: 100%;
}
